form {
  padding: 50px 40px;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid var(--light-gray-1);
}
h2 {
  margin-bottom: 20px;
}
label {
  font-size: 17px;
  margin-bottom: 7px;
}
input {
  padding: 8px 10px;
  margin-bottom: 20px;
}

button[type=submit] {
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 17px;
  font-family: inherit;
  border: none;
}