@import url("styles.css");
@import url("header2.css");

/* svg styles */
.filter-blue {
  filter: invert(22%) sepia(96%) saturate(1667%) hue-rotate(205deg) brightness(93%) contrast(100%);
}

/* Main Styles */
body {
  overflow: scroll;
}
main {
  max-width: 100%;
  margin: 0;
  padding: 35px 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  column-gap: 3%;
  row-gap: 30px;
  height: auto;
}

/* Confession Card Styles */
.confession-card {
  flex: 0 0 22%; 
  padding: 10px 16px;
  border: 1px solid var(--light-gray-1);
}
.confession-card > p:first-of-type {
  margin: 0;
  font-size: 14px;
  color: var(--light-gray-2);
}
.confession-card p {
  margin: 12px 0;
}
.like-counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 5px;
}
.like-counter p {
  margin: 0;
}