@import url("styles.css");
@import url("header2.css");
@import url("confession-card.css");


/* Main Styles */
main {
  max-width: 100%;
  margin: 0;
  padding: 35px 15px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 3%;
  row-gap: 30px;
  height: auto;
}
