@import url("styles.css");
@import url("header2.css");

/* Main Styles */
main {
  max-width: 100%;
  margin: 0;
  padding: 35px 15px;
}

/* Profile Stats Styles */
#profile-stats {
  display: flex;
  flex-flow: column nowrap;
  width: 270px;
  color: var(--black);
  background: var(--white);
  border-radius: 5px;
}
#profile-stats h3 {
  border-bottom: 1px solid var(--light-gray-2);
  font-size: 23px;
}
#profile-stats ol{
  padding-left: 0;
  padding: 8px 0;
}
#profile-stats li, #profile-stats h3 {
  padding: 20px;
}
#profile-stats li {
  font-size: 17px;
}
#profile-stats li:hover {
  cursor: pointer;
  opacity: 0.8;
}